.body{
  margin: 170px;
  width: 384px;
  height: 683px;
  background-size: cover;

}
.game{
  width: 1400px;
  text-align: center;
  margin: 100px auto;
  position: relative;
  height: 1024px;
  background-image: url(http://res.cloudinary.com/dlszpthqv/image/upload/v1476214302/JzfvVHJ_bbed9h.png);
}

.start{
  position: absolute;
  width: 384px;
  height: 683px;
  top:170px;
  left:507px;
  background-size: cover;
  background-image: url(http://res.cloudinary.com/dlszpthqv/image/upload/v1476214986/loading_screen01_rpscrr.png);
}

.bottom-ui{
height: 60px;
position: absolute;
bottom: 172px;
left: 508px;
display: flex;
}

.ui{
  width:60px;
  display:none;

  background-size: cover;
}
#addunit1{
  background-image: url(https://res.cloudinary.com/hjsqizwtu/image/upload/v1473928912/button1_fyugxe.png);
}
#addunit2{
  background-image: url(https://res.cloudinary.com/hjsqizwtu/image/upload/v1473928912/button2_o5wnix.png);
}
#addunit3{
  background-image: url(https://res.cloudinary.com/hjsqizwtu/image/upload/v1473928912/button3_bmyoyd.png);
}
#addunit4{
  background-image: url(https://res.cloudinary.com/hjsqizwtu/image/upload/v1473928912/button4_iltvbz.png);
}


#income{
  background: none repeat scroll 0 0 transparent;
  background-image: url(https://res.cloudinary.com/hjsqizwtu/image/upload/v1473928898/income_othwcp.png);
  background-size: cover;
  width:144px;
  height: 60px;
  color: white;
  padding-top: 25;
}

.win{
  display: none;
  position: absolute;
  width: 384px;
  height: 683px;
  top:170px;
  left:507px;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/dlszpthqv/image/upload/v1473904110/StageClear01_rdg5ww.png);
  font-size: 60;
  text-shadow: 5px 5px 5px purple;
  color: white;
}

.lose{
  display: none;
  position: absolute;
  width: 384px;
  height: 683px;
  top:170px;
  left:507px;
  background-size: cover;
  background-image: url(https://res.cloudinary.com/dlszpthqv/image/upload/v1473904110/StageClear01_rdg5ww.png);
  font-size: 60;
  text-shadow: 5px 5px 5px purple;
  color: white;
}
.mute{
  position: absolute;
    top: 190px;
    left: 527px;
    background: none repeat scroll 0 0 transparent;
    border: none;
    height: 20px;
    width: 22px;
    background-size: cover;
    background-image: url(https://res.cloudinary.com/dlszpthqv/image/upload/v1473959404/mute-unmute_somsop.png);
  }

.unmute{
  display: none;
  position: absolute;
    top: 190px;
    left: 527px;
    background: none repeat scroll 0 0 transparent;
    border: none;
    height: 20px;
    width: 22px;
    background-size: cover;  background-image: url(https://res.cloudinary.com/dlszpthqv/image/upload/v1473959408/mute-unmute_copy_ig00q6.png);
}
