.body{
  margin: 100px;
  width: 384px;
  height: 568px;
  background-image: url(http://res.cloudinary.com/dlszpthqv/image/upload/v1473706723/loading_screen01_cckoko.png);
  background-size: cover;
}

.game{
  text-align: center;
}
